In [1]:
#import dependencies
import pandas as pd
import gmaps
import requests

#import the api key
from config import g_key

In [2]:
#store the CSV you saved created in part one into a dataframe
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Cherskiy,RU,2022-02-06 07:35:23,68.7500,161.3000,-29.69,100,17,2.75
1,1,Cabo San Lucas,MX,2022-02-06 07:30:27,22.8909,-109.9124,65.52,74,35,7.83
2,2,Hilo,US,2022-02-06 07:31:19,19.7297,-155.0900,71.33,89,100,0.00
3,3,Roma,US,2022-02-06 07:32:32,43.2128,-75.4557,3.87,81,0,0.00
4,4,Hobart,AU,2022-02-06 07:33:28,-42.8794,147.3294,70.27,56,20,1.99

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
#configure gmaps to use your google api key
gmaps.configure(api_key=g_key)

In [5]:
#get max temps above 0
max_temp=city_data_df["Max Temp"]
temps=[]
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
# 1. Assign the locations to an array of latitude and longitude pairs
locations=city_data_df[["Lat", "Lng"]]

# 2. Assign the weights variable to some values
# the max temp
max_temp=city_data_df["Max Temp"]

# 3. Assign the figure variable to the gmaps.figure() attribute
fig=gmaps.figure(center=(30, 31), zoom_level=1.5)

# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
heat_layer=gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], 
                               dissipating=False, max_intensity=300, point_radius=4)

# 5. Add the heatmap layer
fig.add_layer(heat_layer)

# 6. Call the figure to plot the data

fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
#heatmap of percent humidity
locations=city_data_df[["Lat", "Lng"]]
humidity=city_data_df["Humidity"]
fig=gmaps.figure(center=(30, 31), zoom_level=1.5)
heat_layer=gmaps.heatmap_layer(locations, weights=humidity,
                              dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

#call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
#heatmap of percent cloudiness
locations=city_data_df[["Lat", "Lng"]]
clouds=city_data_df["Cloudiness"]
fig=gmaps.figure(center=(30, 31), zoom_level=1.5)
heat_layer=gmaps.heatmap_layer(locations, weights=clouds,
                              dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

#call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
#heatmap of wind speed
locations=city_data_df[["Lat", "Lng"]]
wind=city_data_df["Wind Speed"]
fig=gmaps.figure(center=(30, 31), zoom_level=1.5)
heat_layer=gmaps.heatmap_layer(locations, weights=wind,
                              dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

#call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
#ask customer to add min and max temp values
min_temp=float(input("What is the minimum temperature you would like for your trip? "))
max_temp=float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 90

In [11]:
preferred_cities_df=city_data_df.loc[(city_data_df["Max Temp"]<=max_temp) &
                                     (city_data_df["Max Temp"]>=min_temp)]

preferred_cities_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
2,2,Hilo,US,2022-02-06 07:31:19,19.7297,-155.0900,71.33,89,100,0.00
4,4,Hobart,AU,2022-02-06 07:33:28,-42.8794,147.3294,70.27,56,20,1.99
9,9,Sao Filipe,CV,2022-02-06 07:35:26,14.8961,-24.4956,72.34,69,0,8.68
11,11,Rikitea,PF,2022-02-06 07:35:26,-23.1203,-134.9692,79.02,71,33,17.43
13,13,Hithadhoo,MV,2022-02-06 07:35:27,-0.6000,73.0833,82.72,72,9,10.92

In [12]:
#determine if theres any null values
preferred_cities_df.count()

City_ID       213
City          213
Country       212
Date          213
Lat           213
Lng           213
Max Temp      213
Humidity      213
Cloudiness    213
Wind Speed    213
dtype: int64

In [13]:
#Create dataframe called hotel_df to store hotel names along w city, country, max temp, and coordinates
hotel_df=preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"]=""
hotel_df.head(10)

            City Country  Max Temp      Lat       Lng Hotel Name
2           Hilo      US     71.33  19.7297 -155.0900
4         Hobart      AU     70.27 -42.8794  147.3294
9     Sao Filipe      CV     72.34  14.8961  -24.4956
11       Rikitea      PF     79.02 -23.1203 -134.9692
13     Hithadhoo      MV     82.72  -0.6000   73.0833
14   Trincomalee      LK     80.80   8.5711   81.2335
20         Vaini      TO     73.56 -21.2000 -175.2000
23    Codrington      AU     72.99 -38.2667  141.9667
26  Buenaventura      CO     73.06   3.8801  -77.0312
29  Puerto Ayora      EC     74.55  -0.7393  -90.3518

In [14]:
#set parameters to search for a hotel
params={
    "radius":5000, 
    "type": "lodging", 
    "key": g_key
}

In [15]:
#iterate through the dataframe
for index, row in hotel_df.iterrows():
    #get lat and lng
    lat=row["Lat"]
    lng=row["Lng"]
    
    #add lat and lng to location key for the params dict
    params["location"]=f"{lat},{lng}"
    
    #use the search term "lodging" and lat and lng
    base_url="https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    #make request and get json data from search
    hotels=requests.get(base_url, params=params).json()
    
    #grab first hotel from results and store the name
    try:
        hotel_df.loc[index, "Hotel Name"]=hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found ... skipping.")

Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.

In [18]:
# add a heatmap of temp for the vacation spots
locations=hotel_df[["Lat", "Lng"]]
max_temp=hotel_df["Max Temp"]
fig=gmaps.figure(center=(30, 31), zoom_level=1.5)
heat_layer=gmaps.heatmap_layer(locations, weights=max_temp,
                              dissipating=False, max_intensity=300, point_radius=4)
marker_layer=gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
#call fig to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [20]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [21]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [22]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))