## Deliverable 3. Create a Travel Itinerary Map.

In [30]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import gmaps.datasets

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [31]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,7,palmares do sul,BR,70.32,few clouds,-30.2578,-50.5097,Hotel Campos Dourados.
1,8,codrington,AU,83.23,clear sky,-38.2667,141.9667,Codrington Gardens Bed And Breakfast
2,13,natal,BR,81.25,few clouds,-5.7950,-35.2094,Villa Park Hotel | Natal
3,14,port alfred,ZA,73.96,overcast clouds,-33.5906,26.8910,The Halyards Hotel
4,15,saint-philippe,RE,78.39,overcast clouds,-21.3585,55.7679,"Chambres d'hôte ""La Trinité"""

In [32]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [33]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [111]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[(vacation_df["City"]=="plettenberg bay")]
vacation_end = vacation_df.loc[(vacation_df["City"]=="plettenberg bay")]
vacation_stop1 = vacation_df.loc[vacation_df["City"]=="port alfred"]
vacation_stop2 = vacation_df.loc[vacation_df["City"]=="east london"] 
vacation_stop3 = vacation_df.loc[vacation_df["City"]=="graaff-reinet"] 
vacation_start

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
100,315,plettenberg bay,ZA,70.81,clear sky,-34.0527,23.3716,Thanda Vista B&B

In [112]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0]
end = vacation_end["Lat"].to_numpy()[0], vacation_end["Lng"].to_numpy()[0] 
stop1 = vacation_stop1["Lat"].to_numpy()[0], vacation_stop1["Lng"].to_numpy()[0]
stop2 = vacation_stop2["Lat"].to_numpy()[0], vacation_stop2["Lng"].to_numpy()[0]
stop3 = vacation_stop3["Lat"].to_numpy()[0], vacation_stop3["Lng"].to_numpy()[0]

In [113]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig=gmaps.figure()
trip=gmaps.directions_layer(start, end, waypoints=[stop1, stop2, stop3], travel_mode="WALKING")
fig.add_layer(trip)
fig

Figure(layout=FigureLayout(height='420px'))

In [114]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,315,plettenberg bay,ZA,70.81,clear sky,-34.0527,23.3716,Thanda Vista B&B
1,14,port alfred,ZA,73.96,overcast clouds,-33.5906,26.8910,The Halyards Hotel
2,59,east london,ZA,71.08,overcast clouds,-33.0153,27.9116,Tu Casa
3,624,graaff-reinet,ZA,73.08,scattered clouds,-32.2522,24.5308,Rietjiesbos Self Catering

In [115]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [116]:
# 11a. Add a marker layer for each city to the map.
fig=gmaps.figure(center=(30, 31), zoom_level=1.5)
marker_layer=gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))